<footer class="airbnb-footer">
  <div class="footer-top">
    <div class="footer-column">
      <h4>Support</h4>
      <a href="#">Help Center</a>
      <a href="#">Safety Information</a>
      <a href="#">Cancellation Options</a>
      <a href="#">Our COVID-19 Response</a>
    </div>
    <div class="footer-column">
      <h4>Community</h4>
      <a href="#">Airbnb.org: Disaster Relief</a>
      <a href="#">Combating Discrimination</a>
      <a href="#">Invite Friends</a>
    </div>
    <div class="footer-column">
      <h4>Hosting</h4>
      <a href="#">Try Hosting</a>
      <a href="#">AirCover for Hosts</a>
      <a href="#">Explore Hosting Resources</a>
    </div>
    <div class="footer-column">
      <h4>About</h4>
      <a href="#">Newsroom</a>
      <a href="#">Learn About Features</a>
      <a href="#">Careers</a>
      <a href="#">Investors</a>
    </div>
  </div>

  <div class="footer-bottom">
    <p>&copy; <%= new Date().getFullYear() %> Wanderlust, Inc. · Privacy · Terms · Sitemap</p>
    <div class="footer-socials">
      <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
      <a href="#"><i class="fa-brands fa-twitter"></i></a>
      <a href="#"><i class="fa-brands fa-instagram"></i></a>
    </div>
  </div>
</footer>
