<% layout("/layouts/boilerplate") %>

<div class="row mt-3">
  <h1 class="col-6 offset-3">Login on Wanderlust</h1>
  <div class="col-6 offset-3">
    <form action="/login" method="post" class="needs-validation" novalidate>
      <!-- Username -->
      <div class="mb-3">
        <label for="username" class="form-label fw-semibold">Username</label>
        <input
          type="text"
          class="form-control"
          id="username"
          name="username"
          placeholder="Enter username"
          required
        />
      </div>

      

      <!-- Password -->
      <div class="mb-3">
        <label for="password" class="form-label fw-semibold">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          name="password"
          placeholder="Enter password"
          required
        />
      </div>

      <button class="btn btn-success">Login</button>
    </form>
    <br>
    <br>
    <br>
    <br>
  </div>

</div>
